.home{
    display: flex;
    position: relative;

    .info{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        z-index: 5;
        position: absolute;
        top: 80px;
        left: 10px;
        gap: 20px;
        background-color: #2a2b30;
        color: white;
        border: 2px solid #3dbd76;
        border-radius: 20px;
        padding: 10px;
        

        .left{
            line-height: 22px;
            h1{
                font-size: 22px;
            }
            p{
                font-size: 16px;
                font-weight: 300;
            }
        }

        .right{
            line-height: 22px;
            h1{
                font-size: 22px;
            }
            p{
                font-size: 16px;
                font-weight: 300;
            }
        }
    }

    .map{
        width: 100%;
        height: 100%;
        position: relative;

        .leaflet-container{
            height: 91vh;
            width: 100vw;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }
    }

    .wiki{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        z-index: 5;
        position: absolute;
        top: 60vh;
        right: 10px;
        gap: 20px;
        background-color: #2a2b30;
        color: white;
        border: 2px solid #3dbd76;
        border-radius: 20px;
        padding: 10px;

        .link{
            text-decoration: none;
            color: inherit;
        }

        .item{
            font-size: 16px;
            font-weight: 300;
            line-height: 28px;

            .icon{
                font-size: 18px;
                padding-left: 5px;
            }
        }
    }
}