*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home{
    position: relative;
}
#map{
    height: 91vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.myNavbar{
    height: 80px;
    background-color: #0B0C10;
    color: white;
    width: 100%;
    z-index: 5;
}
.wrapper{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftNav{
    display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
}

.leftNav span{
    font-size: 32px;
    font-weight: 500;
}

.centerNav{
    display: flex;
    align-items: center;
    justify-content: center;

}

.centerNav .home {
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
    position: relative;
}

.centerNav .home::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #5CDB95;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.centerNav .home:hover::after{
    width: 100%;
}

.dwnarrow{
    margin-bottom:5px;
}


.rightNav{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 50px;
}

.home{
    display: flex;
    position: relative;
}

#infomodalbtn {
    background-color: #3ab672 !important;
    border-radius: 10px !important;
    color: white !important;
    padding: 15px !important;
    font-size: 16px !important;
    border: none !important;
    cursor: pointer !important;
    min-width: 150px !important;
    z-index: 15 !important;
    position: absolute;
    top: 95px;
    left: 55px;
}

#wikimodalbtn {
    background-color: #3ab672 !important;
    border-radius: 10px !important;
    color: white !important;
    padding: 15px !important;
    font-size: 16px !important;
    border: none !important;
    cursor: pointer !important;
    min-width: 150px !important;
    z-index: 15 !important;
    position: absolute;
    top: 95px;
    left: 240px;
}